@import 'bootstrap/dist/css/bootstrap.min.css';
@import 'owl.carousel/dist/assets/owl.carousel.css';
@import "owl.carousel/dist/assets/owl.theme.default.css";
@import "./slider.css";
@import "./button.css";
@import "./custom-responsive.css";

*{
    box-sizing: border-box;
}
body{
    background-color: #f5f5f5;
    line-height: 1.6;
}

#root {
    background-color: white;
    max-width: 1170px;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

