@font-face {
  font-family: "Regular";  
  src: local("Raleway-Regular"),
    url("../public/fonts/Raleway-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Bold";  
  src: local("Raleway-Bold"),
    url("../public/fonts/Raleway-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Regular";  
  src: local("RobotoSlab-Regular"),
    url("../public/fonts/RobotoSlab-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Bold";  
  src: local("RobotoSlab-Bold"),
    url("../public/fonts/RobotoSlab-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Light";  
  src: local("RobotoSlab-Light"),
    url("../public/fonts/RobotoSlab-Light.ttf") format("truetype");
}
